
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        margin-top: 2.5rem;
    }
}

body {
    background-color: #FFFFFF;
}